.sidebar
{
    min-width: var(--sidebar-width);
    height: 100vh;
    position: fixed;
    left:0;
    top:0;
    background-color: var(--main-bg);
    box-shadow: var(--box-shadow);
    width:20%;
}

.sidebar__item
{
    
    padding: 0 20px;
}

.sidebar__item-inner
{
    padding: 10px 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    transition: color .3s ease  0s;
}

.sidebar__item-inner:hover
{
    color:var(--main-color);
}

.sidebar__item-inner.active
{
    border-radius: var(--border-radius);
    background-image: linear-gradient(
        to right,
        var(--main-color),
        var(--second-color)
    );
    color:var(--txt-white)
}