.dropdown
{
    position: relative;
    z-index: 1199;
}

.dropdown_toggle
{
    border: 0;
    outline: 0;
    background-color: transparent;
    position: relative;
}

.dropdown_toggle > i
{
   font-size: 2.5rem;
   color: var(--txt-color);
}

.dropdown_toggle-badge
{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -12px;
    right: -10px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: var(--main-color);
    color:var(--txt-white);
    font-size: 2rem;
}

.dropdown_content
{
    position:absolute;
    top: calc(100%+ 5px);
    right:0;
    width: max-content;
    background-color: var(--main-bg);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    overflow: hidden;
    transform-origin: top right;
    transform: scale(0);
    transition: transform 0.3s ease 0s;
}

.dropdown_content.active
{
    transform: scale(1.5);
    transition: transform 0.5s var(--transition-cubic);
}

.dropdown_footer
{
    padding: 20px;
    text-align: center;
}