.flex-container-contact {
  display: flex;
  height:500px;
}

.flex-child-contact {
  flex: 1;

  width: 100%;
}  

.flex-child-contact:first-child {
  margin-right: 20px;
} 

.img_contact
{
  transform: scale(0.96);
  margin: auto;
  margin-left: 25%;
}

.h2-contact
{
  margin-top: 5%;
}