.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height:40px;
    background-color: #00cc00;
    color: white;
    text-align: center;
 }

 .li-footer
 {
     float:right;
     margin-left: 20px;
     margin-right: 10px;
     margin-bottom: 30px;
 }

 a{
    text-decoration: none;
    color:white;
    padding: 6px;
 }

 a:hover
 {
     color:#006600;
     cursor: pointer;
 }
